In [1]:
from scipy.io import loadmat
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import multivariate_normal
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

In [2]:
df = pd.read_csv('mc1-reports-data.csv')
df=df.applymap(lambda x : pd.to_numeric(x,errors='ignore'))
df1=df
df2=df

In [52]:
df.isna().sum()

time                     0
sewer_and_water        171
power                    0
roads_and_bridges        0
medical              47441
buildings              170
shake_intensity      12144
location                 0
dtype: int64

In [4]:
df.head(5)

,time,sewer_and_water,power,roads_and_bridges,medical,buildings,shake_intensity,location
0,2020-04-08 17:50:00,10.0,6.0,10.0,3.0,8.0,NaN,1
1,2020-04-09 13:50:00,2.0,10.0,0.0,8.0,4.0,0.0,1
2,2020-04-09 00:20:00,7.0,10.0,10.0,9.0,10.0,0.0,1
3,2020-04-08 17:25:00,1.0,1.0,2.0,10.0,7.0,NaN,1
4,2020-04-08 02:50:00,9.0,7.0,1.0,6.0,9.0,NaN,1

In [53]:
df.iloc[0]

time                 4/6/2020 0:00
sewer_and_water                2.0
power                            8
roads_and_bridges                5
medical                        NaN
buildings                      3.0
shake_intensity                0.0
location                         2
Name: 0, dtype: object

In [54]:
df = df.fillna(-1)
df

,time,sewer_and_water,power,roads_and_bridges,medical,buildings,shake_intensity,location
0,4/6/2020 0:00,2.0,8,5,-1.0,3.0,0.0,2
1,4/6/2020 0:00,6.0,3,10,10.0,9.0,-1.0,3
2,4/6/2020 0:00,10.0,2,9,-1.0,10.0,-1.0,4
3,4/6/2020 0:00,8.0,1,10,-1.0,3.0,1.0,4
4,4/6/2020 0:00,9.0,7,5,-1.0,4.0,-1.0,8
...,...,...,...,...,...,...,...,...
83065,4/11/2020 0:00,5.0,2,2,-1.0,8.0,-1.0,2
83066,4/11/2020 0:00,7.0,7,8,10.0,10.0,-1.0,6
83067,4/11/2020 0:00,4.0,9,7,-1.0,7.0,-1.0,13
83068,4/11/2020 0:00,5.0,1,3,-1.0,2.0,-1.0,15
83069,4/11/2020 0:00,5.0,9,6,-1.0,2.0,0.0,18

In [55]:
df.iloc[0]

time                 4/6/2020 0:00
sewer_and_water                2.0
power                            8
roads_and_bridges                5
medical                       -1.0
buildings                      3.0
shake_intensity                0.0
location                         2
Name: 0, dtype: object

In [56]:
df1.describe()

,sewer_and_water,power,roads_and_bridges,medical,buildings,shake_intensity,location
count,82899.000000,83070.000000,83070.000000,35629.000000,82900.000000,70926.000000,83070.000000
mean,5.649139,6.045371,5.743289,5.322687,4.744005,2.682641,8.978488
std,2.787791,2.851951,2.506399,2.527679,2.256358,1.935366,5.123608
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,3.000000,4.000000,4.000000,4.000000,3.000000,1.000000,4.000000
50%,6.000000,7.000000,6.000000,6.000000,5.000000,2.000000,8.000000
75%,8.000000,8.000000,7.000000,7.000000,6.000000,4.000000,14.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,19.000000

In [57]:
df1.columns

Index(['time', 'sewer_and_water', 'power', 'roads_and_bridges', 'medical',
       'buildings', 'shake_intensity', 'location'],
      dtype='object')

In [58]:
impact_columns = ['sewer_and_water', 'power', 'roads_and_bridges', 'medical', 'buildings', 'shake_intensity']

def calculate_impact(row):
    valid_values = [value for key, value in row.items() if key in impact_columns and value != -1]
    if valid_values:
        return np.mean(valid_values)
    return np.nan

df['impact'] = df.apply(calculate_impact, axis=1)

In [59]:
df2=df2.dropna()

29210

In [61]:
df

,time,sewer_and_water,power,roads_and_bridges,medical,buildings,shake_intensity,location,impact
0,4/6/2020 0:00,2.0,8,5,-1.0,3.0,0.0,2,3.60
1,4/6/2020 0:00,6.0,3,10,10.0,9.0,-1.0,3,7.60
2,4/6/2020 0:00,10.0,2,9,-1.0,10.0,-1.0,4,7.75
3,4/6/2020 0:00,8.0,1,10,-1.0,3.0,1.0,4,4.60
4,4/6/2020 0:00,9.0,7,5,-1.0,4.0,-1.0,8,6.25
...,...,...,...,...,...,...,...,...,...
83065,4/11/2020 0:00,5.0,2,2,-1.0,8.0,-1.0,2,4.25
83066,4/11/2020 0:00,7.0,7,8,10.0,10.0,-1.0,6,8.40
83067,4/11/2020 0:00,4.0,9,7,-1.0,7.0,-1.0,13,6.75
83068,4/11/2020 0:00,5.0,1,3,-1.0,2.0,-1.0,15,2.75
83069,4/11/2020 0:00,5.0,9,6,-1.0,2.0,0.0,18,4.40

In [65]:
df.iloc[0:10]

,time,sewer_and_water,power,roads_and_bridges,medical,buildings,shake_intensity,location,impact
0,4/6/2020 0:00,2.0,8,5,-1.0,3.0,0.0,2,3.60
1,4/6/2020 0:00,6.0,3,10,10.0,9.0,-1.0,3,7.60
2,4/6/2020 0:00,10.0,2,9,-1.0,10.0,-1.0,4,7.75
3,4/6/2020 0:00,8.0,1,10,-1.0,3.0,1.0,4,4.60
4,4/6/2020 0:00,9.0,7,5,-1.0,4.0,-1.0,8,6.25
5,4/6/2020 0:00,6.0,2,9,-1.0,4.0,1.0,15,4.40
6,4/6/2020 0:00,2.0,4,1,-1.0,4.0,-1.0,17,2.75
7,4/6/2020 0:00,9.0,7,4,-1.0,8.0,0.0,18,5.60
8,4/6/2020 0:05,10.0,10,3,-1.0,10.0,0.0,2,6.60
9,4/6/2020 0:05,6.0,2,0,7.0,9.0,-1.0,5,4.80

### Convert 'time' column to datetime format
df['time'] = pd.to_datetime(df['time'])

### Filter data for a specific time frame and location
start_date = '2020-04-06 00:00:00'
end_date = '2020-04-06 00:10:00'
selected_location = 2

filtered_data = df.loc[(df['time'] >= start_date) & (df['time'] <= end_date) & (df['location'] == selected_location)]

### Calculate the average impact for the selected time frame and location
average_impact = filtered_data['impact'].mean()

print(f"Average impact for location {selected_location} between {start_date} and {end_date}: {average_impact}")

In [66]:
df.to_csv('processed_data.csv', index=False)